* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    background-color: #111;
    padding: 30px;
  }
  
  .form-container {
    max-width: 600px;
    margin: auto;
    background: linear-gradient(135deg, #171717 0%, #1f1f1f 100%);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 12px 0 10px 40px rgba(0, 0, 0, 0.3);
    color: white;
    animation: slideFromTop 1.2s ease-out;
  }
  @keyframes slideFromTop {
    from {
      opacity: 1;
      transform: translateY(-100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #FFA333;
  }
  label {
    display: block;
    margin: 10px 0 5px;
    color: white;
  }
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select,
  textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #333;
    background:  #222;
  }
  input[type="file"] {
    margin-top: 10px;
  }
  textarea {
    resize: vertical;
  }
  button {
    width: 100%;
    padding: 12px;
    background-color: #FFA333;
    color: white;
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  button:hover {
    background-color: #333;
  }
  .container a{
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    background-color: #222;
  }
  .container a:hover{
    color:#FFA333;
    background-color: #333;
  }