* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    background-color: #111;
    display: flex;
  }
  
  #menu-toggle {
    display: none;
  }

  #menu{
    text-align: center;
  }
  
  #hamburger {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 2;
    cursor: pointer;
    width: 30px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  #hamburger span {
    display: block;
    height: 3px;
    background: orange;
    border-radius: 2px;
    transition: 1s ease;
    
  }
  
  #menu-toggle:checked + #hamburger span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  #menu-toggle:checked + #hamburger span:nth-child(2) {
    opacity: 0;
  }
  #menu-toggle:checked + #hamburger span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
  }
  
  #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 220px;
    background: #111;
    padding: 20px;
    transform: translateX(-100%);
    transition: 1s ease;
    z-index: 1;
  }
  
  #menu-toggle:checked ~ #sidebar {
    transform: translateX(0);
  }
  
  #sidebar h1 {
    color: white;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  #sidebar ul {
    list-style: none;
  }
  
  #sidebar ul li {
    margin: 15px 0;
  }
  
  #sidebar ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    display: flex;
    align-items: center;
    transition: 0.2s;
  }
  
  #sidebar ul li a:hover {
    color: orange;
    padding-left: 5px;
  }
  
  #sidebar ul li a i {
    margin-right: 10px;
  }
  
  main {
    margin-left: 30px;
    padding: 40px;
    flex: 1;
  }
  
  h2{
    text-align: center;
    color:white;
  }

  p{
    text-align: center;
    color:white;
  }

  /*my code*/
  .main{
    position: absolute;
    width:calc(100%-300px);
    left:300px;
    min-height: 100vh;
    transition: .5s;
}
.main.active{
    width:calc(100%-80px);
    left:80px;
}

.topbar{
    width:100%;
    height: 60px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 10px;
}

.toggle{
    position: relative;
    width:60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
}
.user{
    position: relative;
    width:40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.cardBox{
    position: relative;
    width:100%;
    padding:20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
}
.cardBox .card{
    position: relative;
    background: white;
    padding: 30px;
    display: flex;
    border-radius: 20px;
    justify-content: space-between;
    box-shadow: 0 7px 25px #3e290f;
    min-width: 30vw;
    top:-50
}
.cardBox .numbers{
    position: relative;
    font-weight: 500;
    font-size: 2.5rem;
    color: orange;
}
.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
    padding: 20px;
    background-color:#111 ;
  }
  
.upload-section {
  display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    justify-content: center;
    min-width: 50vw;
  }
  
  .upload-section h3 {
    margin-bottom: 10px;
    text-align: center;
    color: #fff;
  }
  
  .upload-section a ion-icon {
    font-size: 2.5rem; 
    color: orange;
    cursor: pointer;
    
  }
  
.upload-section a ion-icon:hover {
    color:  #674c27;
  }
  .LocationWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    justify-content: center;
    min-width: 50vw;
  }
  
  .LocationWrap ion-icon {
    font-size: 36px;
    color: orange;
    transition: color 0.3s ease;
  }
  
  
.LocationWrap ion-icon:hover {
    color: #674c27;
  }

.location-header h3{
    color: white;

}
.button button {
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    background-color:orange;
    color: white;
    cursor: pointer;
    font-size: 14px;
    margin: 8px;
  }
  
.button2 button {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  background-color: #3e290f;
  color: white;
  cursor: pointer;
  font-size: 14px;
  margin: 5px;
}

.button2 button:hover{
  background-color: orange;
}
.button button:hover {
    background-color: #3e290f;
  }
  .IssuesCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 8px 8px 6px #3e290f;
    margin-bottom: 30px;
    width: 90%;             
    max-width: 500px;       
    margin-left: auto;    
    margin-right: auto;
  }
  
.IssuesCard ion-icon{
    font-size: 2.5rem; 
    color: orange;
    cursor: pointer;
}
.IssuesCard ion-icon:hover{
    color:#3e290f;
}
.IssuesCard h3{
    color: #3e290f;
}
.submit {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;        
  }
  
  .submit button {
    padding: 10px 24px;
    background-color:orange;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px #3e290f;
  }
  
  .submit button:hover {
    background-color: #3e290f;
    transform: scale(1.05);
  }
 .status{
  color: #fff;
 }
.myLocation{
  color: #fff;
  margin: 8px;
}

.submit button:disabled {
  background: #aaa;
  cursor: not-allowed;
}

.pic{
 margin-bottom: 19px;
}

#map {
  height: 100vh;
  width: 100%;
}

