body {
    font-family: Arial, sans-serif;
    background-color: #111;
    padding: 20px;
    color:#fff
}

h1 {
    color: #333;
}

.user-info {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px;
}
